*{
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.489);
}
hr{
    size: 52px;
    padding: 1px;
    border: #000000;
}
.b23{
    width: 100%;
    height: auto;

}

h1{
    text-align: center;
    padding: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px #000000;
    background: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite; }
    
    @keyframes back{ 100%
        {
            background-position: 2000px 0;
        }
    }

    .imgb {
        background-color: black;
    }